/.vscode
/.idea

/PredictFeature/CallPredict/__pycache__
/PredictFeature/GenerateModel/__pycache__
/ExtractFeature/vendor/
/PredictFeature/CallPredict/build/
/PredictFeature/build/
/PredictFeature/dist/
/PredictFeature/server.spec
